# Node.js dependencies
node_modules/

# Build output
dist/
build/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Environment variables file
.env
.env.docker
.env.*
!.env.example

# Docker files to exclude if needed (optional)
docker-compose.override.yml

# VSCode settings (optional)
.vscode/

# MacOS files
.DS_Store

# Optional system files
Thumbs.db

# Docker related ignored files
docker-compose.override.yml

.dockerignore